*{
	margin:0;
	padding:0;
}
ul li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
input,select{
	outline: 0;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
img{
	width:100%;
	height:100%;
}
/* a:hover{
	text-decoration: underline;
} */
/* 头部+导航 */
header{
	position:relative;
	width:1000px;
	height:78px;
	margin:0 auto;
}
header h1{
	position:absolute;
	display:inline-block;
	left:0;
	height:37px;
	text-indent:-9999px;
	top:20px;
	width:153px;
	background: #ccc;
}
header .top-search{
	width:300px;
	height:36px;
	margin-left:193px;
	padding-top:20px;
}
header .search-input{
	position: relative;
    width: 298px;
    height: 34px;
    border: 1px solid #ccc;
    line-height: 34px;
}
header .search-input input{
	position: absolute;
    left: 0;
    top: 0;
    width: 249px;
    height: 24px;
    line-height: 24px;
    border: 0;
    margin-left: 14px;
    padding: 5px 0;
    color: #666;
}
header .search-input .search-btn{
	position: absolute;
    right: 0;
    top: 0;
    width: 34px;
    height: 34px;
    margin: 0;
    border: 0;
    padding: 0;
    background: 0 0;
    outline: 0;
    cursor: pointer;
}
header .search-input .search-btn i{
	display: block;
    margin: 9px 0 0 9px;
    width: 16px;
    height: 16px;
    background: url(../image/search.png) no-repeat -40px -56px;
    cursor: pointer;
}
header .search-input .search-btn span{
	display:none;
}
header .right-nav{
	top: 30px;
    right: 0;
    width: 402px;
    position: absolute;
}
header .right-nav ul{
	float:left;
	width: 250px;
    border-right: 1px solid #e6e6e6;
    padding-right: 11px;
    text-align: right;
}
header .right-nav ul li{
	float: left;
    padding: 0 15px;
    font-size:13px;
}
header .right-nav ul li a{
	color: #777;
	outline: 0;
}
header .right-nav ul li a:hover{
	color:#009af3;
}
header .right-nav .login-area{
	position: relative;
    float: left;
    width: 110px;
    margin-top: -5px;
    margin-left: 30px;
}
header .login-area #login-out{
	cursor: pointer;
}
header .login-area #login-out img{
	float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 15px;
}
header .login-area #login-out .user-name{
	display: block;
    width: 70px;
    padding-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #777;
}
nav{
    height: 55px;
    background-color: #2c323b;
}
nav .nav{
	width:1000px;
	height:55px;
	margin:0 auto;
	position: relative;
}
nav .nav .home-nav li{
	height: 55px;
    line-height: 55px;
    float: left;
}
nav .nav .home-nav li:hover{
	background-color: #0c8ed9;
}
nav .nav .home-nav li#more{
	width: 113px;
}
nav .nav .home-nav li a{
    color: #fff;
    font-size: 16px;
    display: block;
    padding: 0 30px;
}
nav .nav .home-nav li#more a{
	display: inline;
    margin-left: 5px;
    padding:0 30px;
    background: url(../image/arrowMored.png) no-repeat 72px 8px;
}
nav .nav .second-menu{
	position: absolute;
    left: 324px;
    top: 55px;
    display: none;
    width: 113px;
    height: 146px;
    z-index:10;
    background-color: #252a32;
}
nav .nav .second-menu li{
	height: 36px;
    line-height: 36px;
}
nav .nav .second-menu li a{
	display: block;
	text-align: center;
    font-size: 15px;
    color: #bbb;
    background: 0 0;
    background-color: #252b34;
}
nav .nav .second-menu li a:hover{
	background-color: #2d343d;
}
nav .nav .sub-nav{
	float:right;
	margin-top: 16px;
    height: 35px;
}
nav .nav .sub-nav li{
	margin-left: 30px;
	float: left;
}
nav .nav .sub-nav li a{
	padding-left: 20px;
    color: #bbb;
    font-size: 13px;
    background: url(../image/sprite.png) no-repeat;
}
nav .nav .sub-nav li a.icon-nav1{
	background-position: 0 -119px;
}
nav .nav .sub-nav li a.icon-nav1:hover{
	background-position: 0 -101px;
}
nav .nav .sub-nav li a.icon-nav2{
	background-position: 0 -155px;
}
nav .nav .sub-nav li a.icon-nav2:hover{
	background-position: 0 -137px;
}
nav .nav .sub-nav li a.icon-nav3{
	background-position: 0 -191px;
}
nav .nav .sub-nav li a.icon-nav3:hover{
	background-position: 0 -173px;
}
nav .nav .sub-nav li a.icon-nav4{
	background-position: 0 -281px;
}
nav .nav .sub-nav li a.icon-nav4:hover{
	background-position: 0 -245px;
}
nav .nav .sub-nav li a:hover{
	color: #14a9ff;
}
/* 脚部 */
footer{
	height:180px;
	clear:both;
}
footer .navi_link{
	width:748px;
	margin:80px auto 0;
	font-size:12px;
	text-align:center;
	height:24px;
}
footer .navi_link li{
	height:24px;
	line-height:24px;
	float:left;
	margin:0 10px;
}
footer .navi_link li a{
	color:rgb(99,99,99);
}
footer .navi_link li a:hover{
	color:red;
	text-decoration: underline;
}
footer p{
	width:120px;
	margin:0 auto;
	font-size:12px;
	color:rgb(99,99,99);
}
