header{
	height:70px;
	border-bottom:1px solid rgb(229,229,229);
}
header div{
	width:1024px;
	height:70px;
	line-height:70px;
	margin:0 auto;
}
header div .header-left{
	width:600px;
	float:left;
	font-weight: bold;
}
header div .header-left a{
	display:block;
	height:70px;
	float:left;
}
header div .header-left img{
	width:166px;
	height:70px;
}
header div .header-left .sign{
	float:left;
	margin-left:20px;
	border-left:1px solid #ddd;
	width:300px;
	font-weight:normal;
	color:#999;
	text-indent:20px;
}
header div .header-right{
	width:600px;
	height:70px;
	float:right;
}
section.main{
	height:635px;
	background-color:#f4f4f4;
}
section.main .main-login{
	width:960px;
	height:530px;
	margin:0 auto;
	padding:45px 0 0 64px;
	background:url(../image/login-bg.jpeg) no-repeat 0 0;
}
section.main .main-login .login-form{
	position:relative;
	width:367px;
	height:373px;
	/* border:1px solid rgb(211,211,211); */
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
	/* background-color:white; */
	border-radius: 4px;
}
.main-login .login-form .vali-msg{
	position: absolute;
	width:300px;
	color:red;
	font-size:12px;
	text-indent:35px;
	display:none;
}
.main-login .login-form .vali-userName{
	top:113px;
}
.main-login .login-form .vali-userPwd{
	top:173px;
}
.main-login .login-form .vali-login{
	left:70px;
	top:220px;
}
section.main .main-login .login-form label{
	
}
section.main .main-login .login-form p.login-title{
	height:50px;
	line-height:50px;
	font-size:18px;
	border-bottom:1px solid rgb(211,211,211);
	text-indent:40px;
	font-family:"Microsoft Yahei";
	background-color:rgb(250, 250, 250);
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
/* section.main .login-form div{
	width:326px;
	margin:0 auto;
	color:rgb(102,102,102);
} */
section.main .login-form div.login-zh{
    width: 290px;
	margin:20px auto;
	height: 40px;
    line-height: 40px;
    color: #7e8087;
    box-sizing: border-box;
}
section.main .login-form div.login-mm{
	width: 290px;
	margin:10px auto 20px;
	height: 40px;
    line-height: 40px;
	color: #7e8087;
}
section.main .login-form input[placeholder]{
	display:block;
	width:100%;
	height:100%;
	outline: none;
	padding: 10px 12px;
	box-sizing:border-box;
	border-radius: 4px;
	border: none;
	font-size:14px;
    background:#ffc;
}
section.main .main-login .login-form .auto-login{
	color:rgb(164,164,164);
	font-size:12px;
	width:220px;
	margin:0 auto;
}
.login-form .auto-login a{
	margin-left:60px;
}
section.main .login-btn{
	box-sizing:border-box;
	padding:0 35px;
	margin-top:30px;
}
section.main .login-form .submit{
	display:block;
	height: 40px;
    line-height: 40px;
	margin:0 auto;
    border-radius: 4px;
    white-space: nowrap;
    text-align: center;
    color: #fff;
    background: linear-gradient(-134.2deg,#8070f1,#b06cef);
	font-size: 16px;
	letter-spacing:10px;
	text-decoration: none;
}
section.main .login-btn .submit:hover{

}
section.main .login-form .login-other{
	width:326px;
	height:10px;
	margin:20px auto 0;
	border-bottom:1px solid rgb(232, 232, 232);
	padding-bottom:8px;
	
}
section.main .login-form .register{
	width:326px;
	height:22px;
	margin:20px auto 0;
	text-align: center;
	font-size:14px;
}
section.main .login-form .register a{
	color:rgb(127,127,127);
}
section.main .login-form .register a:hover{
	color:#0066cb;
}
