body{
	background:rgb(246,246,246);
}
section.main{
	width:960px;
	margin:0 auto;
	height:1050px;
}
section.main .enrol-left{
	margin-top:20px;
	width:219px;
	float:left;
}
section.main .enrol-left img{
	width:166px;
	height:70px;
}
section.main .enrol-left .left-poster{
	height:869px;
	border-radius:10px;
	background:url(../image/register_poster.jpeg) no-repeat 25% 200%;
	text-indent:-9999px;
}
section.main .enrol-right{
	width:670px;
	float:right;
	position: relative;
	background:white;
	top:20px;
	padding-bottom:100px;
}
section.main .enrol-right h1{
	width:670px;
	height:53px;
	line-height:53px;
	color:#f3316b;
	text-align:center;
	font-weight:normal;
	font-size:18px;
}
section.main .enrol-right span.shoulder{
	width:84px;
	height:42px;
	text-indent:-9999px;
	position:absolute;
}
section.main .enrol-right span.shoulder-l{
	left:-9px;
	top:8px;
	background:url(../image/img2.png) no-repeat left center;
}
section.main .enrol-right span.shoulder-r{
	right:-9px;
	top:8px;
	background:url(../image/img2.png) no-repeat right center;
}
section.main .enrol-right .enrol-remind{
	color:#ff687b;
	font-size:12px;
	height:37px;
	line-height:37px;
	background-color:#f7f7f7;
	text-align:center;
	margin:0 30px 0; 
}
.enrol-right .c{
	position:relative;
	padding-top:20px;
	height:32px;
}
.enrol-right .c dt,.c dd{
	height: 40px;
	float:left;
	font-size:16px;
	color:#666;
	line-height:40px;
}
.enrol-right .c dt{
	width:85px;
	text-align:right;
}
.enrol-right .c dd{
    line-height: 40px;
    box-sizing: border-box;
	margin-left:50px;
}
#amount{
	border:none;
	color:#f6931f;
	font-weight:bold;
	left:120px;
	top:0px;
	position: absolute;
}
#slider-range-min{
	width:210px;
	top:13px;
	left:8px;
	float: right;
}
.c dd input{
    display: block;
    width: 100%;
    /* height: 100%; */
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    outline: none;
}
.enrol-right .c label{
	padding-right:20px;
	height:22px;
	line-height: 22px;
}
.enrol-right .c .label{
	display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #979797;
    box-sizing: border-box;
}
.enrol-right .c .checked{
	border: 3px solid #8b76f9;
}
.enrol-right .education ul{
	width:227px;
	position: absolute;
	left:135px;
	margin-top: -4px;
	border-radius: 4px;
    box-shadow: 0 2px 8px 0 hsla(0,0%,64%,.3);
	background: #fff;
	z-index:10;
	display: none;
}
.enrol-right .education li{
	transition: background-color .3s;
	text-align: center;
}
.enrol-right .education li:hover{
	background-color: #d9d9d9;
}

.enrol-right .salary ul{
	width:227px;
	position: absolute;
	left:135px;
	margin-top: -4px;
	border-radius: 4px;
    box-shadow: 0 2px 8px 0 hsla(0,0%,64%,.3);
	background: #fff;
	z-index:10;
	display: none;
}
.enrol-right .salary li{
	transition: background-color .3s;
	text-align: center;
}
.enrol-right .salary li:hover{
	background-color: #d9d9d9;
}

.enrol-right #submitUser .form-line{
	text-indent:-9999px;
	width:610px;
	height:21px;
	border-bottom:1px dashed #ddd;
}
.enrol-right #submitUser .submit-btn{
	display:block;
	width:278px;
	height:49px;
	line-height:49px;
	color:white;
	background:#6cf;
	text-align:center;
	border:1px solid #aaa;
	border-radius: 5px;
	margin:30px auto 0;
}
.enrol-right #submitUser .submit-btn+p{
	text-indent:196px;
	margin-top:23px;
	color:#c7c7c7;
}
.enrol-right #submitUser #policy{
	margin-top:30px;
	text-align: center;
}
.enrol-right #submitUser .policy{
	width:12px;
	height:12px;
}
.enrol-right #submitUser .policy+label{
	font-size:12px;
}
.enrol-right #submitUser .policy+label a{
	color:#939393;
	text-decoration: underline;
}
.enrol-right #submitUser .promise{
	font-size:12px;
	color:#c7c7c7;
	text-indent:196px;
	margin-top:43px;
}
footer{
	width:960px;
	height:90px;
	margin:130px auto 0;
}
footer p{
	margin:0 auto;
	width:733px;
	font-size:12px;
	text-indent:400px;
	color:#9d9b9b;
}
/*住址插件CSS*/
.wrap{width:464px;height:34px;margin:20px auto;border:0;position:relative;}
/* .input{position:absolute;top:0;left:0;width:457px;margin:0;padding-left:5px;height:30px;line-height:30px;font-size:12px;border:1px solid #c9cacb;} */
._citys { width: 450px; display: inline-block; border: 2px solid #eee; padding: 5px; position: relative; background: #fff;}
._citys span { color: #05920a; height: 15px; width: 15px; line-height: 15px; text-align: center; border-radius: 3px; position: absolute; right: 10px; top: 10px; border: 1px solid #05920a; cursor: pointer; }
._citys0 { width: 95%; height: 34px; line-height: 34px; display: inline-block; border-bottom: 2px solid #05920a; padding: 0px 5px; font-size:14px; font-weight:bold; margin-left:6px; }
._citys0 li { display: inline-block; line-height: 34px; font-size: 15px; color: #888; width: 80px; text-align: center; cursor: pointer; }
._citys1 { width: 100%; display: inline-block; padding: 10px 0; }
._citys1 a { width: 83px; height: 35px; display: inline-block; background-color: #f5f5f5; color: #666; margin-left: 6px; margin-top: 3px; line-height: 35px; text-align: center; cursor: pointer; font-size: 12px; border-radius: 5px; overflow: hidden; }
._citys1 a:hover { color: #fff; background-color: #05920a; }
.AreaS { background-color: #05920a !important; color: #fff !important; }