section.info-center{
	width: 960px;
    height:627px;
    margin: 30px auto 50px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
}
section.info-center .avatar-side{
	box-shadow: inset -3px 0 3px #e1e1e1;
	width: 200px;
	height:627px;
	box-sizing: border-box;
	background: #e2f4ff;
	float:left;
}
section.info-center .avatar-side .avatar-cover{
	width: 165px;
    height: 165px;
    padding: 6px;
    border: 1px solid #ccc;
    margin:40px auto 0;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    border-radius: 6px;
}
section.info-center .avatar-side .avatar-txt{
	margin-top:10px;
    line-height: 1.8;
    font-size:13px;
}
.avatar-txt p{
	text-align:center;
	color:#7b7b7b;
}
.avatar-txt p:nth-child(1) a{
	color: #007ac1;
    font-weight: bold;
    font-size: 14px;
    word-break: break-all;
}
.avatar-txt p:nth-child(3) a{
    color: #FF9600;
}
section.info-center .avatar-content{
	border-left: 1px solid #b9d7e9;
	width:760px;
	height:627px;
	box-sizing: border-box;
	float:right;
	padding:10px 10px 0
}
.avatar-content .content-title h4{
	float:left;
	height: 24px;
    font: 20px/24px Microsoft Yahei,"\5b8b\4f53",sans-serif;
    color: #7b7b7b;
    margin-right: 10px;
}
.avatar-content .content-title span{
	font-size:13px;
    font-family: arial,"\5b8b\4f53",sans-serif;
	float:left;
    line-height: 1.2;
    padding-top: 8px;
    color: #a1a1a1;
}
.avatar-content .content-body{
	margin-top:20px;
}
.content-body .module-name li{
	float:left;
    width: 183px;
    text-align: center;
    border-bottom: 1px solid #54ade7;
}
.content-body .module-name li a{
	display: block;
	margin:0 0 -1px 1px;
    border-style: solid;
    border-width: 1px 1px 0;
    height: 29px;
    line-height: 29px;
    font-size: 14px;
    border-color: #b5b5b5 #b5b5b5 #54ade7;
    color: #7b7b7b;
    font-weight: bold;
    border-radius: 2px 2px 0 0;
}
.content-body .module-name li.selected {
	border:none;
}
.content-body .module-name li.selected a{
    color: #54ade7;
    border-color: #54ade7 #54ade7 #fff;
}
.content-body .module-body {
	padding:30px 40px 0 40px;
}
.content-body .module-body  .desc{
	color: #7b7b7b;
	height: 27px;
    line-height: 27px;
    font-size: 14px;
    margin-bottom:20px;
}
.content-body .module-body  .avatar-demo{
	float:left;
	width:173px;
	height:173px;
	padding:6px;
	border:2px solid #999;
}
.content-body .module-body  .avatar-upload{
	width:450px;
	margin:20px 0 0 20px;
	float:left;
}
.content-body .module-body  .avatar-upload p{
	font-size:13px;

}
.content-body .module-body  .avatar-upload #fileinp{
    /* display: none; */
    width:0px;
    height:0px;
    visibility: hidden;
}
.content-body .module-body  .avatar-upload .btn{
	width:86px;
	height:32px;
	display:inline-block;
	line-height:32px;
    margin:20px 10px 0 0;
    padding: 0 18px;
    color: #565656;
    cursor: pointer;
    text-align: center;
    border: 1px solid #CFCFCF;
    border-radius: 3px;
}
.content-body .module-body  .avatar-upload .btn:hover{
	color: #54ade7;
    border-color: #54ade7;
}
.module-body  .article-title{
	color: rgb(0, 0, 0);
    font-size: 26px;
    font-family: 微软雅黑;
    font-weight: normal;
    background-color: transparent;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    padding: 8px 0px;
    height: 30px;
    text-align: center;
}
.module-body  a.submit{
	display: inline-block;
    width: 79px;
    height: 23px;
    line-height: 23px;
    box-shadow: rgb(217, 217, 217) 0px 1px 0px 0px;
    background-color: rgb(92, 170, 230);
    color:#fff;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(72, 153, 215);
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    margin-right:5px;
}
.module-body .rank-wrap li{
	padding: 0 10px;
    border-bottom: 1px solid #f2f2f2;
    height: 54px;
    line-height: 54px;
    cursor: pointer;
}
.module-body .rank-wrap a{
	font-size: 14px;
    margin-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color:#333;
}
.module-body .rank-wrap .update-time{
	float: right;
    padding-top: 20px;
    height: 15px;
    line-height: 15px;
    white-space: nowrap;
    color: #999;
    font-size: 14px;
}
a.write-article{
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    border-width: 1px;
    border-style: solid;
    color: #FFFFFF;
    border: 1px solid #6D7C8C;
    background-color: #7B8C9E;
    background-position: 0 0;
}
a.return-list{
	color: #26709A;
	font-size: 12px;
}