<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsxt.dao.UserDao">
   <select id="queryUserByUserId" parameterType="int" resultType="user">
      select id,user_name as userName,user_pwd as userPwd
      from user
      where id=#{userId}
   </select>
   
   <select id="queryUserByLogin" parameterType="string" resultType="user">
		select   id,user_name as userName,user_pwd as userPwd,
		sex,birthday,address,marriage,height,education,salary,phone,nick_name as nickName,
		introduce,remark1,remark2 from user
		where user_name =#{userName} and user_pwd=#{userPwd}
   </select>
   
   
   <select id="queryUsersByParams" parameterType="userQuery" resultType="user">
   select id,user_name as userName,user_pwd as userPwd
   from user
   <where>
      <if test="null !=userName and userName != '' ">
         user_name like concat("%",#{userName},"%")
      </if>
      <if test="null !=userPwd and userPwd != '' ">
         user_pwd =#{userPwd}
      </if>
   </where>
   limit #{rowNum},#{pageSize}
</select>



   <select id="queryUsersByParams02" parameterType="userQuery" resultType="user">
      select id,user_name as userName,user_pwd as userPwd
      from user
      <where>
         <if test="null !=userName and userName != '' ">
            user_name like concat("%",#{userName},"%")
         </if>
         <if test="null !=userPwd and userPwd != '' ">
            user_pwd =#{userPwd}
         </if>
      </where>
   </select>
</mapper>